[class~='ant-row'] {
    /* background: rgba(128, 128, 128, 0.08); */
    justify-content: center;
  }

.lightBackground {
    background-color: rgba(128, 128, 128, 0.08);
    align-items: center;
    justify-content: center;
    height: 100%;
}
